:root {
  --basic-dark: #151515;
  --grey-ts: hsla(0, 0%, 100%, .16);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--basic-dark);
  color: white;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.header-form {
  width: 70%;
  display: flex;
  align-items: center;
  position: relative;
}

input {
  width: 100%;
  height: 42px;
  padding-left: 25px;
  border: none;
  border-radius: 15px;
  outline: none;
  background-color: hsla(0, 0%, 100%, .16);
  color: black;
}

input:hover {
  background-color: white;
}

.input-img {
  position: absolute;
  left: 0;
  width: 22px;
  margin-left: 5px;
  height: 22px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: hsla(0, 0%, 100%, .16);
}

input:hover+.input-img {
  color: black;
}

.link {
  text-decoration: none;
  color: white;
}

.header-link {
  margin-right: 45px;
}

.main-container {
  display: flex;
  padding: 5px;
}

.left-side {
  width: 10%;
}

.content {
  width: 90%;
  padding: 5px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(310px, 1fr);
  grid-gap: 2rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-name {
  display: flex;
  justify-content: space-between;
}

.bg-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.sort-category:not(:first-child) {
  margin-top: 20px;
}

.sort-header {}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding-top: 5px;
}

li {
  padding-top: 5px;
  list-style-type: none;
}

.link-text {
  margin-left: 5px;
}

.btn-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: var(--grey-ts);
}

.btn-img {
  font-size: 15px;
}

button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: white;
}

button:hover .btn-img-wrap {
  background-color: white;
  color: var(--basic-dark)
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  margin-top: 20px;
  font-size: 30px;
}

.dropdown {
  background: black;
  position: absolute;
  /* game text + margin-right = 88.763px */
  margin-left: 88.763px;
  width: 68.94%;
  top: 100%;
  z-index: 10;
}

.dropdown-content {
  padding: 10px;
  position: relative;
}

.dropdown-li {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

/* ЧТо за ххх? */
.xxx {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.mySwiper2 {
  height: 40%;
  width: 100%;
}

.mySwiper {
  max-height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 350px;
  object-fit: contain;
}

.game-desc {
  margin: 15px 0;
}

.game-stat {
  margin-right: 5px;
  color: hsla(0, 0%, 100%, .2);
}

@media (max-width: 650px) {
  .left-side {
    width: 15%;
  }

  .content {
    width: 85%;
  }
}

@media (max-width: 380px) {
  .left-side {
    width: 20%;
  }

  .content {
    width: 80%;
  }
}
